@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#jsmind_container {
  white-space: pre-wrap; /* Ensure the text wraps */
  width: auto !important; /* Allow nodes to expand */
  word-wrap: break-word;
}

#jsmind_container .jsmind-node {
  cursor: move; /* Show the move cursor when hovering over nodes */
}

#jsmind_container .jsmind-inner {
  user-select: none; /* Prevent text selection during dragging */
}

.jmnode-overflow-hidden jmnode {
  white-space: pre-wrap !important;
  max-width: none !important;
}

.backgroundColor {
  background-color: rgba(17, 17, 17, 0.747);
}
